// @use 'variables' as *;
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "DM Sans", sans-serif;
  // background-color: $primary;
  background-color: $dark;
  color: $white-primary;
}

// text 
.text-primary{
  color: $primary;
}
.text-secondary{
  color: $secondary;
}

.text-white-primary{
  color: $white-primary;
}
.text-white-secondary{
  color: $white-secondary;
}

//BG
.bg-primary{
  background-color: $primary;
}

// btn 
.btn{
  padding: 4px 12px;
  border-radius: 4px;
  color: $primary;
  border: 2px solid $primary;
  font-weight: bold;
  transition: 0.3s;
  animation: ease-in-out;
}
.btn:hover{
  padding: 4px 12px;
  border-radius: 4px;
  color: black;
  border: 2px solid transparent;
  font-weight: bold;
  background-color: $primary;
}

.header{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2%;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header li{
  padding: 6px 12px;
  border-radius: 4px;
}
.header li:hover{
  background-color: rgba(255, 0, 0, 0.1);
}
.header a.active{
  border-radius: 4px;
  background-color: $primary;
}

.button{
  background-color: $primary;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}
.button-large{
  padding: 12px 28px;
}
.button:hover{
  background-color: rgb(181, 0, 0);
}